/*.location-map {padding-bottom: 20px;}*/
.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}

.label-facility {margin-right: 2px}
.rating-stars {margin-left: 3px;}
#filter {margin-left: 4px;}

p { font-size : 190% }
.table-large { font-size : 130% }
.logs {
  height: 50px;
}
@media ()
.datebutton {
  margin : 0;
  border : 0;
  padding : 0;
  height : 100%;
  width : 100%;
  font-size : 90%;
}
td {
  padding : 0;
  border : 0;
  margin : 0;
}
#navbar-main {
  padding : 0;
  border : 0;
  margin : 0;
}
.navi {
  color : rgb(0,0,0);
  opacity : 0.65;
}
.navi:hover {
  color : rgb(0,0,0);
  opacity : 1;
}
a{
  -webkit-transition : font-weight 0.25s;
  transition : font-weight 0.25s;
}
a:hover {
  font-weight: bold;
}

tr:hover {
  background-color : #D3D3D3;
}
.containing-area {
  float : top;
  height : 500px;
  width : 1200px;
  padding : 3px;
}
.scroll-area {
  height: 450px;
  overflow: auto;
}
#navbar-main {
  font-size : 130%;
}
li {
  padding-left : 35px;
  padding-right : 35px;
}
.text-success {
  font-weight: bold;
}
.centerMe {
  text-align: center !important;
}
.pleaseFit {
  padding-right: 0;
}
.btn-logout {
  padding: 0px;
  margin: 0px;
  margin-top: 15%;
  width: 100%;
}
.planeSelect{
  width: 40%;
}
.btn-nav {
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 25px;
  width: 90%;
  height: 80%;
  font-size: 20px;
}
.dropdown-menu {
  margin-left: 10%;
  width: 70%;
  text-align: center;
}
li {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.navGray {
  background-color: #dddddd;
}
.navCaret {
  font-size: large;
  padding-left: 12%;
}
table {
  background-color: #eeeeee;
}
.navHead {
  margin-top: 13%;
}
.hovShadow {
  -webkit-transition: -webkit-box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out, box-shadow 0.1s ease-out;
  transition: -webkit-box-shadow 0.1s ease-out, -moz-box-shadow 0.1s ease-out, box-shadow 0.1s ease-out, transform 0.1s ease-out;
  margin: 4px;
  padding: 0px !important;
}
.hovShadow:hover {
  -webkit-box-shadow: 0px 0px 30px 5px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 30px 5px #aaa;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 30px 5px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
input:hover {
  -webkit-box-shadow: 0px 0px 50px 3px #ADD8E6;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 50px 3px #ADD8E6;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 50px 3px #ADD8E6;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}