<div class="navbar nav navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 pleaseFit">
        <a href="/#/home" class="navbar-brand">Welcome {{ vm.token.user }}!</a>
        <button type="button" class="btn btn-default btn-logout" ng-click="vm.logout()">Logout</button>
        <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span class="glyphicon glyphicon-arrow-down"></span><span class="iconbar"></span></button>
      </div>
      <div id="navbar-main" class="navbar-collapse collapse col-xs-8 pull-right">
        <ul class="nav navbar-nav">
          <li class="navi"><a ng-href="/home">Home</a></li>
          <li class="navi"><a ng-href="/logs">Logs</a></li>
          <li class="navi"><a ng-href="/analysis">Analysis</a></li>
          <li class="navi"><a ng-href="" ng-click="vm.popupAddForm()">Add a flight</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>