<div class="navbar nav navbar-default navbar-fixed-top navGray">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <h6 class="pull-right navHead"> 
          <strong>User:</strong> {{ vm.token.user }} <br>
          <strong>Plane: </strong> {{vm.planeName}}
        </h6>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-default btn-logout text-center" ng-click="vm.logout()">Logout</button>
      </div>
      <div id="navbar-main" class="dropdown col-xs-4">
        <button class="btn btn-primary btn-nav" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Navigation<span class="glyphicon glyphicon-tasks navCaret"></span></button>
        <ul class="dropdown-menu">
          <li class="navi hovShadow"><a class="navi" ng-href="/home">Home</a></li>
          <li class="navi hovShadow"><a class="navi" ng-href="/logs">Logs</a></li>
          <li class="navi hovShadow"><a class="navi" ng-href="/analysis">Analysis</a></li>
          <li class="navi hovShadow"><a class="navi" ng-href="" ng-click="vm.popupAddForm()">Add a flight</a></li>
        </ul>
      </div>

      <div id="navbar" class="dropdown col-xs-4">
        <button class="btn btn-primary btn-nav" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">planes<span class="glyphicon glyphicon-tasks navCaret"></span></button>
        <ul class="dropdown-menu" ng-model="vm.plane">
          <li class="navi hovShadow" ng-repeat="plane in vm.token.planes" ng-click="vm.selectPlane(plane)"><a>{{plane}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>