<navigation></navigation>

<div class="container">
  <br>
  <page-header content="vm.pageHeader"></page-header>
<!--   <div role="alert" ng-show="!vm.data" class="alert alert-success text-center"><h3>Loading...</h3></div> -->

  <div class="row text-center" ng-init="mod=0">
    <div class="col-sm-12">
      <div id="addPlane" ng-init="vm.addPlaneForm = false;">
        <button class="btn btn-default" ng-click="vm.addPlaneForm = true;" ng-show="!vm.addPlaneForm">Add a Plane</button>
        <form id="addPlaneForm" ng-show="vm.addPlaneForm" ng-submit="vm.addPlane()">
          <div class="row">
            <div class="col-xs-6">
              <label class="pull-right"><h4>Plane name:</h4></label>
            </div>
            <div class="col-xs-6">
              <input id="planeNameInput" ng-model="vm.plane" class="pull-left">
            </div>            
          </div>
          <div class="row">
            <div class="col-xs-6">
              <button type="button" class="btn btn-danger pull-right">Cancel</button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-primary pull-left">Submit</button>
            </div>
          </div>
          
        </form>
      </div>
      <br>
      <table class="table table-bordered table-responsive table-large" id="table" ng-show="vm.data">
        <thead>
          <tr>
            <th>Most Recent Flight </th>
            <td>{{vm.data.flight.fltDate}}</td>
          </tr>
          <tr>
            <th>Current Hobbs </th>
            <td>{{vm.data.flight.hobbsIn}} Hours</td>
          </tr>
          <tr>
            <th>Current Fuel </th>
            <td>{{ vm.data.flight.fuelIn }} Gallons</td>
          </tr>
          <tr>
            <th>Hours Since Last Oil Change </th>
            <td>{{ vm.data.flight.hoursLastOilChange }}</td>
          </tr>
          <tr ng-show="mod == 0">
            <th>Last Inspection Date </th>
            <td><a class="btn btn-default" ng-click="mod = 1" >{{ vm.lastInspection }}</a></td>
          </tr>
          <tr ng-show="mod == 1">
            <th><a class="btn btn-default" ng-click="mod=0" ng-show="mod == 1">Update Inspection Date : </a></th>
            <td><input id="lastInspection" name="lastInspection" ng-model="vm.lastInspection" ng-show="mod == 1"/></td>
          </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>